<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Restaurant Apps</title>
</head>

<body>
  <a href="#main" class="skip-main">Skip To Main</a>
  <header>
    <app-bar></app-bar>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <img src="./images/heros/hero-image_2.jpg" class="hero__img" alt="Picture of people eating together" tabindex="0">
    </div>
  </div>

  <main>
    <h2 tabindex="0" id="main">Explore Restaurant</h2>
    <restaurant-list></restaurant-list>
  </main>
  <footer tabindex="0">
    Copyright © 2022 - Restaurant Apps
  </footer>
</body>

</html>